In [7]:
"""
print() function
컨트롤 + 엔터가 실행
"""


print("hello world")
print(100)
pi = 3.14
print(pi)

intro = "my name is"
name =  " tea hyoung"
print(intro + name +"!")


"""쉬프트 엔터 : 새로운 셀"""

hello world
100
3.14
my name is tea hyoung!

'쉬프트 엔터 : 새로운 셀'

In [2]:
"""나를 표현 가능한 정보 세가지 이상 변수 설정"""

name = "김태형"
toll = "173"
hobby = "피아노"
student_number = "201855065"

print("이름 : " + name + "\n키 : " + toll + "\n취미 : " + hobby + "\n학번 : " + student_number )

이름 : 김태형
키 : 173
취미 : 피아노
학번 : 201855065

In [2]:
"""
Data type : integers
"""
#집에 있는 사물의 개수를 세가지 이상을 정수 변수로 표현하시오.

instrument = 3
speaker = 6 
keyboard = 4
broken_chairs = -2

"""
Data type : real Numbers
"""

#본인이 알고 있는 세 개의 실수를 변수로 정의하시오

cpu_clock = 4.45
inch = 2.54
my_height = 172.8
print(cpu_clock)
print(inch)
print(my_height)

4.45
2.54
172.8

In [4]:
"""
Data Types : Strings
""" 
 # 본인이 좋아하는 세가지를 문자열로 정의
    
favorite_motto = "나에게 떳떳해야 남에게도 떳떳할 수 있다."
favorite_game = "Battle Grounds"
favorite_music = "jazz"

print(favorite_motto)
print(favorite_game)
print(favorite_music)

나에게 떳떳해야 남에게도 떳떳할 수 있다.
Battle Grounds
jazz

In [13]:
"""
x-Equals Operations
"""

a=2
a+=2
print(a)

a=2
a-=2
print(a)

a=2
a*=2
print(a)

a=2
a**=5
print(a)

4
0
4
32

In [14]:

"""
Error
"""

# Name Erorr

print(my_name)
my_name = "김태형"

NameError: name 'my_name' is not defined

# Practice 1
아래 코드들은 무엇을 하는 코드입니다.